*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    width: 100vw;
    background-color: darkseagreen;
    font-size: 20px;
}

#logo{
    margin: 5px;
    padding: 5px;
    text-decoration: none;
}

.navigate{

    text-decoration: none;
    padding: 8px;


}

.act{
    text-decoration: none;
    padding: 5px;
}