*{margin: 0;padding: 0;box-sizing: border-box;}
header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.2)), url('Assets/trvelimg.jpg') ;
    background-size: cover;
    
    font-family: sans-serif ;
}

nav{
    width: 100%;
    height: 100px;
    /* background-color: rgb(163, 196, 247); */
    color: black;
    
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.register{
    color: white;
    text-decoration: none;
    color: azure;

    padding: 10px 20px;
    background-color: indianred;
    border-radius: 8px;
}

.menu a{
    text-decoration: none;
    color: azure;
    
    padding: 10px 20px;
}


.logo{

    font-size: 2em;
    letter-spacing: 2px;
    color: rgb(255 255 255);

}

.text{

    max-width: 650px;
    position: absolute;
    top: 40%;
    left: 5%;
    transform: translate(-5%, -5%);
    text-align: left;
    color: white;
}

.text span{
    letter-spacing: 5px;
}
.text h1{
    font-size: 3em;
}

.text a{
    text-decoration: none;
    background-color: rgb(139, 3, 3);
    border: 2px rgb(255, 254, 254) solid;
    border-radius: 8px;
    color: rgb(253, 253, 253);
    padding: 10px 20px;
    letter-spacing: 5px;
    font-weight: 400;
}

.image-container {
position: absolute;
right: 0; 
top: 35%; 
width: 300px; 
height: 200px; 

}


.image-container img {
width: 130px; 
height: 200px; 
border: 2px solid white;
border-radius: 10px;
position: absolute; 
bottom: 0; 
}

/* Center Image */
#img1 {
z-index: 2; 
left: 0;
transform: translateX(0%);
}

/* Left Tilted Image */
#img2 {
z-index: 1;
left: -20%;
transform: rotate(-25deg); 
}

/* Right Tilted Image */
#img3 {
z-index: 1;
left: 25%;
transform: rotate(15deg); 
}


.footer-description {
position: absolute;
bottom: 10px;  
left: 20px; 
width: 1200px; 
color: white; 
font-size: 14px; 
font-family: 'Arial', sans-serif;  
background: rgba(0, 0, 0, 0.6);  
padding: 10px;
border-radius: 5px;
}